/* body  */
html {
scroll-behavior: smooth;
}

body{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6fff8;
    font-family: Poppins;
    height: 280vh;
}

/* navigation bar  */
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
a{
    text-decoration: none;
    color: #0A1128;
}
.link:hover{
    font-size: 20px;
    transition: all 0.3s ease;
    
}
.logo{
    font-size: 60px;
    margin-right: 550px;
}
.link{
    margin-left: 70px;
}

/* intro section  */
#intro{
    /* background-color: #6b9080; */
    Background: linear-gradient(135deg, #496a40, #8dbb8b);
    color: white;
    border-radius: 10px;
    height: 360px;
    padding-left: 20px;
    padding-top: 50px;

}
#intro img{
    height: 290px;
    display: inline-block;
    position: relative;
    left: 1050px;
    bottom: 200px;
    border: 10px white solid;
    border-radius: 50%;
}
#intro h1{
    font-size: 50px;
}
#intro p{
    font-size: 20px;
    line-height: 1.6;
    
}
.write{
    margin-left: 30px;
    margin-top: 10px;
}

/* buttons in intro section start  */
button{
    border-radius: 10px;
    height: 50px;
    width: 220px;
    position: relative;
    bottom: 260px;
    left: 20px;
}
#res{
    background-color: #274c27;
    color: white;
    border:none

}
#res:hover{
    background-color: white;
    color: #274c27;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgb(255, 255, 255,0.8);
}
#pro{
    background-color: #274c27;
    color: white;
    border:none;
    margin-left: 40px;
}
#pro:hover{
    background-color: white;
    color: #274c27;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgb(255, 255, 255,0.8);
}

/* end  */

/* About section  */

#about {
    margin: 20px;
    font-size: 16px;
    font-family: Poppins;
}

#about h1{
    font-size: 40px;
}

/* Projects section  */

#projects{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#projects img{
    position: relative;
    bottom: 50px;
}


.project {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 25px;
    border-radius: 20px;
    background-color: #496a40;
    margin: auto;
}

.project div {
    height: 180px;
    padding: 0;
    background: white;
    padding: 25px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project div h2 {
    margin: 0; 
}


.project div:hover{
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.946);
    font-size: larger;
}
.project div h2{
    padding-left: 60px;
    padding-top: 25%;
}

/* resume */

#resume{
    padding-left: 20px;
    padding-top: 50px;
    font-family: Poppins;
    font-size: larger;
}

h4{
    border-radius: 50%;
    display: inline-block;
    background-color: #598965;
    color: white;
    padding: 50px;
    margin-left: 50px;
}

h4:hover{
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-size: larger;
}

h5{
    text-decoration: underline;
}

#resume h5,p{
    display: inline-block;
    
}

#t{
    margin-left: 60px;
}

#resume h2{
    background-color: #446248;
    color: white;

}

/* resume end  */

/* contact */

input{
    height: 50px;
    width: 200px;
    margin-left: 100px;
    margin-bottom: 30px;
}

textarea{
    height: 50px;
    width: 515px;
    margin-left: 100px;
}

#contact button{
    width: 515px;
    margin-left: 80px;
    position: relative;
    top: 60px;
    background-color: rgb(15, 137, 15);
    color: white;
    border: none;
}

#contact button:hover{
    background-color: rgb(12, 171, 52);
}

#c{
    padding-left: 20px;
    padding-top: 50px;
    font-family: Poppins;
    font-size: large;
    margin-bottom: 20px;
}

